@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    background-color: rgb(36, 36, 36);
    overflow: auto;
    padding-top: 70px;
    cursor: none;
}

.cursor-shadow {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 129, 57);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px rgb(255, 129, 57);
    z-index: 9999;
}

header {
    height: 100vh;
    width: 100%;

}

.navbar {
    padding: 6px 18px;
    background-color: rgb(36, 36, 36) !important;
}


.logo {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 129, 57, 0.850) !important;
    transition: 0.2s;

}

.logo:hover {
    color: #fff !important;
    text-decoration: none;
}

#logomusic {
    background-color: rgba(255, 129, 57, 0.850) !important;
}

.logo:hover #logomusic {
    background-color: white !important;
    color: rgba(255, 129, 57, 0.850) !important;
}

#navtoggle {
    border-color: white;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, 0.92);
    font-weight: 500;
    position: relative;
}



.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgba(255, 129, 57);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(255, 129, 57);
}

.btn-navbar {
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid rgba(255, 129, 57, 0.850);
    color: rgba(255, 129, 57, 0.850);
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: none;
    transition: 0.2s;
}

.btn-navbar:hover {
    background-color: rgba(255, 129, 57, 0.850);
    color: #fff;
}

/* Home */

#img-home {
    height: 90%;
    width: 90%;
}

.home-heading {
    color: white;
}

.home-span {
    color: rgb(255, 129, 57)
}

p {
    color: white;
}

.content-home2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.home-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}

.para-home {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.45);
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
}

.home-links {
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-2 {
    border: 1px solid rgb(36, 193, 255);
    color: rgb(36, 193, 255);
    background-color: transparent;
}

.home-links:hover {
    background-color: transparent;
    color: rgb(255, 129, 57);
    border: 1px solid rgb(255, 129, 57) !important;

}



/* testimonials */

#testimonials {
    margin-top: 40px;
    background-color: #3a3a3a;
}

#testimonials h2 {
    padding-top: 20px;

}

.carousel {
    padding: 20px;
}

/*products*/

.product-category {
    margin: 30px;
}

.heading-product {

    color: rgb(255, 129, 57);
    display: flex;
    align-items: center;
    justify-content: center;


}

.card {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;
    transition: filter 0.5s ease;
    background: none;
}


.card img {

    border-radius: inherit;

}


.card .name {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    color: rgb(255, 129, 57);
}


.card .role {
    font-size: 1em;

}

/* About */

.about-us-container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}


.about-us {
    width: 100%;
    background-color: rgb(54, 54, 54);
    margin-top: 100px;
}


.content-about {
    padding: 10px 38px;
}

.heading-about {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 129, 57);
    margin: 10px 0px;
    margin-bottom: 34px;
    position: relative;
}

.heading-about::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 129, 57);
    width: 46px;
    height: 2px;
}

.para-about {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.700);
    line-height: 22px;

}

.link-about {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(255, 129, 57, 0.5);
    color: rgb(255, 129, 57);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 22px;
    position: relative;
    z-index: 22;
}

.span-about {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.4s ease-in;
}

.link-about:hover {
    color: white;
}

.link-about:hover .span-about {
    width: 100%;
}

#img-about {
    width: 100%;
    height: 320px;
}

/* Form */
.contact-form {
    background: #3a3a3a;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 5px;
}

.contact-form .form-control {
    border-radius: 1rem;
}


.contact-form form {
    padding: 14%;
}


.contact-form h2 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: rgb(255, 129, 57);

}

.contact-form .btnContact {
    width: 100px;
    border: none;
    border-radius: 1rem;
    padding: 8px;
    background: rgb(36, 193, 255);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

#howit {
    color: rgb(255, 129, 57) !important;
    margin-top: 10px;
}

#sticky-footer {
    background-color: #3a3a3a !important;
}

#copyright {
    color: rgb(255, 129, 57);
}

.accordion-button {
    background-color: #3a3a3a;
    color: white;
    font-size: 10px;
}

.accordion-body {
    background-color: #3a3a3a;
}

/* payment security badge */
.payment-security {

    padding: 20px 0;
}

.payment-security img {
    max-width: 80px;
    display: inline;
}

.payment-security p {
    font-size: 1rem;
    color: #6c757d;

    margin-top: 10px;
}